body {
    font-family: "Times New Roman", Times, serif;
    background-color: #4a536b;
    padding: 20px;
}

h1 {
    color: #ff9a8d;
}

p{
	color: #aed6dc;
	text-decoration: none;
}

a {
    color: #ffd79d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
